@font-face {
  font-family: 'Georgia';
  src: url('/static/fonts/9605-webfont.woff2') format('woff2'),
       url('/static/fonts/9605-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-theme: #FDFAF5;
  --logo-brown: #983724;
  --arrow-button_size: 40px;
  --arrow-button_margin: 10px;
  --header-height: 70px;
  --scroll-width: 0px;
}

* {
  box-sizing: border-box;
}

.new-question {
  overflow:hidden;
}

img {
  max-width: 100%;
}

p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

body {
  margin: 8px 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #FDFAF5;
}

/* Header */
.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  height: var(--header-height);
  background-color: var(--main-theme);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  z-index: 1;
}

.header__logo-link {
  display: block;
  max-height: 53px;
  max-width: 159px;
}

/* Main */
.main {
  margin-top: 95px;
}

.container {
  max-width: 320px;
  padding: 0px 5px;
  padding-right: var(--scroll-width);
  margin: 0px auto;
  text-align: center;
}

.main__heading {
  margin: 0px;
  margin-bottom: 20px;
}

.main__about-gidrolat {
  margin: 0px;
  font-size: 18px;
  line-height: 28px;
}

.main__about-gidrolat--top {
  margin-bottom: 10px;
}

.main__about-gidrolat--middle {
  margin-bottom: 45px;
}

.main__gidrolat-img {
  width: 45%;
  margin-bottom: 45px;
}

.main__about-gidrolat--bottom {
  margin-bottom: 60px;
}

.main__start-test-buttom {
  padding: 13px 23px;
  margin: 0px;
  margin-bottom: 80px;
  background-color: inherit;
  border: 2px solid var(--logo-brown);
  border-radius: none;
  color: var(--logo-brown);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: .2s;
}

.main__start-test-buttom:hover {
  background-color: var(--logo-brown);
  color: var(--main-theme);
}

/* Questions */
.new-question {
  position: relative;
}

.first-question-page {
  position: relative;
}

.question-heading {
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 500px;
  font-weight: normal;
  font-size: 25px;
  line-height: 26px;
}

.variants {
  padding-left: 30px;
  list-style: none;
}

.variant {
  display: flex;
  align-content: center;
}

.variant:not(:last-child) {
  margin-bottom: 25px;
}

.variant__radioButton {
  display: none;
}

.variant__text {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  padding-left: 30px;
  font-size: 18px;
  text-align: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: color .2s;
}

.variant__text::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  background: url(/static/img/radio-button--defolt.svg) 0 0 no-repeat;
  transition: background-image 0.2s;
}

.variant__text:hover::before {
  background: url(/static/img/radio-button--hover.svg) 0 0 no-repeat;
}

.variant__text:hover {
  color: var(--logo-brown);
}

.container--question {
  position: relative;
}

.question__button-back {
  position: absolute;
  width: calc(var(--arrow-button_size) + 10px);
  height: calc(var(--arrow-button_size) + 5px);
  bottom: -100px;
  right: 20px;
  transform: rotate(270deg);
}

/* RB checked */
.variant__radioButton:checked + .variant__text::before {
  background: url(/static/img/radio-button--checked.svg) 0 0 no-repeat;
}

.question-heading--new-question {
  margin-bottom: 50px;
}


/* Final page */
.final-page {
  /* Что бы не было видно декора */
  margin-top: 50px;
}

.final__heading {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 25px;
}

.final__text-bonus {
  margin-bottom: 40px;
  font-size: 18px;
}

/* next-button */
.gidrolat__next-button {
  position: absolute;
  /* Позиционируется относительно документа, расчёт позиции - js */
  top: calc(var(--button_position-Y) * 1px);
}

.gidrolat__next-button--left {
  /* Позиционируется относительно документа, расчёт позиции - js */
  left: calc(var(--button_position-X) * 1px);
  transform: rotate(180deg);
}

.gidrolat__next-button--right {
  /* Позиционируется относительно документа, расчёт позиции - js */
  right: calc(var(--button_position-X) * 1px);
}

.gidrolat__next-button--fixed {
  position: fixed;
}

.gidrolat__next-button {
  width: var(--arrow-button_size);
  height: var(--arrow-button_size);
}
.arrow-button {
  padding: 0;
  background-color: inherit;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.arrow-button__svg {
  width: 100%;
  height: 100%;
}

.arrow-button:hover
.arrow-button__background {
  fill: var(--logo-brown);
}

.arrow-button:hover
.arrow-button__arrow {
  stroke: var(--main-theme);
}

.arrow-button-transition {
  transition-property: fill, stroke;
  transition-duration: .2s;
}
/**/

.final__heading-gidrolats {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: normal;
}

.gidrolat-wrapper {
  position: static;
  max-width: 240px;
  margin: 0 auto;
  margin-bottom: 50px;
  z-index: 0;
}

.swiper-wrapper {
  z-index: 0;
}

.gidrolat__heading {
  margin-bottom: 10px;
  font-size: 18px;
}

.gidrolat__img {
  margin-bottom: 3px;
}

.gidrolat__text-list {
  margin-left: 3px;
  padding-left: 15px;
  text-align: start;
  line-height: 24px;
  font-size: 14px;
}

.gidrolat__description {
  margin-bottom: 15px;
}

.gidrolat__use-list-heading {
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 20px;
}

.gidrolat__as-using-list {
  margin-bottom: 10px;
}

.gidrolat__more-info {
  font-size: 18px;
}

.link {
  color: var(--logo-brown);
}

.final__bottom-text {
  margin-bottom: 45px;
}

.final__present-text {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 28px;
}

.final__present-text::after {
  content: '';
  position: absolute;
  bottom: 6px;
  width: 26px;
  height: 16px;
  background: url(/static/img/present.svg) right no-repeat;
}

.final__form-description {
  line-height: 20px;
}

/* Form */
.feedback-form {
  max-width: 320px;
  margin: 0px auto;
  margin-bottom: 100px;
  font-size: 18px
}

.feedback-form__input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.feedback-form__input:not(:last-child) {
  margin-bottom: 20px;
}

.feedback-form__input {
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: border-color .2s;
}

.feedback-form__input:hover {
  border-color: var(--logo-brown);
}

.feedback-form__input:focus {
  border-color: var(--logo-brown);
  outline: none;
}

.feedback-form__checkbox-container {
  margin-bottom: 30px;
}

.feedback-form__checkbox {
  display: none;
}

.feedback-form__check-label {
  position: relative;
  padding-left: 20px;
  user-select: none;
  cursor: pointer;
  font-size: 16px;
}

.feedback-form__check-label::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  bottom: 3px;
  background-image: url(/static/img/checkbox--defolt.svg);
  background-repeat: no-repeat;
}

.feedback-form__checkbox:checked +
.feedback-form__check-label::before {
  background-image: url(/static/img/checkbox--checked.svg)
}

.feedback-form__submit {
  padding: 10px 45px;
  border: none;
  border-radius: none;
  background-color: var(--logo-brown);
  color: white;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

/* ------- Decor -------*/
.decor {
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
}

/* left-top */
.decor--left-top {
  left: 0px;
  top: var(--header-height);
}

.myata-bolshoi_left-top {
  background-image: url(/static/img/myata-bolshoi.png);
  width: 58px;
  height: 95px;
  top: calc(var(--header-height) - 3px);
  left: -8px;
  transform: rotate(180deg)
}

.venochek-roza-perets_left-top {
  background-image: url(/static/img/venochek-roza-perets.png);
  width: 65px;
  height: 97px;
  transform: rotate(180deg);
  top: calc(var(--header-height) - 5px);
  left: -8px
}

.listvennitsa-ekhinatse-reverse_left-top {
  background-image: url(/static/img/listvennitsa-ekhinatse_reverse.png);
  width: 78px;
  height: 94px;
  transform: rotate(180deg);
  /* top: calc(var(--header-height) - 5px); */
  left: -7px
}

.kolokolchick_left-top {
  background-image: url(/static/img/kolokolchick.png);
  width: 81px;
  height: 51px;
  transform: rotate(-90deg);
  top: calc(var(--header-height) + 15px);
  left: -25px
}

/* right top */
.decor--right-top {
  top: var(--header-height);
  right: 0px;
}

.dushitsa-shalfei_right-top {
  background-image: url(/static/img/dushitsa-shalfei.png);
  width: 57px;
  height: 85px;
  transform: rotate(180deg);
  top: calc(var(--header-height) - 7px);
}

.listvennitsa-ekhinatse_right-top {
  background-image: url(/static/img/listvennitsa-ekhinatse.png);
  width: 78px;
  height: 94px;
  transform: rotate(180deg);
  top: calc(var(--header-height) + 0px);
}

.myata-limon_right-top {
  background-image: url(/static/img/myata-limon.png);
  width: 74px;
  height: 112px;
  transform: rotate(180deg);
  top: calc(var(--header-height) - 5px);
  right: 0px;
}

/* right bottom */
.decor--right-bottom {
  bottom: 0px;
  right: 0px;
}

.dushitsa-shalfei_right-bottom {
  background-image: url(/static/img/dushitsa-shalfei.png);
  width: 57px;
  height: 85px;
  bottom: -8px;
  right: -10px;
}

.listvennitsa-ekhinatse_right-bottom {
  background-image: url(/static/img/listvennitsa-ekhinatse.png);
  width: 78px;
  height: 94px;
  bottom: 0px;
  right: -6px;
}

.myata-limon_right-bottom {
  background-image: url(/static/img/myata-limon.png);
  width: 74px;
  height: 112px;
  bottom: -5px;
  right: -2px;
}

.rose_right-bottom {
  background-image: url(/static/img/rose.png);
  width: 88px;
  height: 86px;
  right: -10px;
}

/* left-bottom */
.decor--left-bottom {
  left: 0px;
  bottom: 0px;
}

.myata-bolshoi_left-bottom {
  background-image: url(/static/img/myata-bolshoi.png);
  width: 58px;
  height: 95px;
  left: -5px;
}

.listvennitsa-ekhinatse-reverse_left-bottom {
  background-image: url(/static/img/listvennitsa-ekhinatse_reverse.png);
  width: 78px;
  height: 94px;
  left: -7px
}

.venochek-roza-perets_left-bottom {
  background-image: url(/static/img/venochek-roza-perets.png);
  width: 65px;
  height: 97px;
  left: -7px;
  bottom: -4px;
}

.rose_left-bottom {
  background-image: url(/static/img/rose.png);
  width: 88px;
  height: 86px;
  left: -22px;
}

@media (min-width: 640px) {
  .container {
    max-width: 500px;
  }

  .main__heading {
    font-size: 30px;
    line-height: 1;
  }

  .variants {
    padding-left: 70px;
  }

  .gidrolat-wrapper {
    max-width: 400px;
  }

  .final__present-text {
    max-width: none;
  }

  :root {
    --arrow-button_margin: 20px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 700px;
  }

  .main__heading {
    font-size: 35px;
    line-height: 1;
  }


  .variants {
    padding-left: 185px;
  }

  .main__heading {
    font-size: 40px;
  }

  .main__about-gidrolat {
    font-size: 20px;
  }

  .main__start-test-buttom {
    font-size: 20px;
  }

  .question-heading {
    font-size: 27px;
  }

  .variant__text {
    font-size: 20px;
  }

  .gidrolat-wrapper {
    max-width: 450px;
  }

  :root {
    --arrow-button_margin: 35px;
  }

  .final__heading {
    font-size: 27px;
  }

  .final__text-bonus {
    font-size: 20px;
  }

  .final__heading-gidrolats {
    font-size: 22px;
  }

  .gidrolat__heading {
    font-size: 20px;
  }

  .gidrolat__text-list {
    font-size: 16px;
  }

  .gidrolat__use-list-heading {
    font-size: 22px;
  }

  .gidrolat__more-info {
    font-size: 20px;
  }

  .final__present-text {
    font-size: 22px;
  }

  .final__form-description {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  .gidrolat-wrapper {
    max-width: 550px;
  }

  :root {
    --arrow-button_margin: 45px;
  }
}
