<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Подбери себе гидролат!</title>
  <link rel="stylesheet" href="http://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="http://unpkg.com/swiper/swiper-bundle.min.css" />
  <link href="/static/style/style.css" rel="stylesheet">

  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/date/date.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="http://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="http://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- <script src="js/button-scroll.js"></script> -->
  <script src="/static/js/create-gidrolats.js"></script>
  <script src="/static/js/button-next_position.js"></script>
  <script src="/static/js/swiper.js"></script>
</head>

<body class="body index-body">
  <div class="content-wrapper">
    <header class="header index-header">
      <a class="header__logo-link" href="http://romylo.ru/" target="_blank">
        <img class="header__logo" src="/static/img/logo-gorizontal.png" alt="Мыловарня Романовых">
      </a>
    </header>
    <main class="main index-main">
      <section class="welcom-page">
        <div class="container">
          <h1 class="main__heading index-heading">
            Гидролат
          </h1>
          <p class="main__about-gidrolat main__about-gidrolat--top">
            Паровая экстракция из растений: плодов, листьев, цветов и корней.
          </p>
          <p class="main__about-gidrolat main__about-gidrolat--middle">
            Производится с помощью медного перегонного куба - аламбика алькитара. Подробнее можно прочесть <a
              href="http://romylo.ru/categories/gidrolaty-1" class="link">тут.</a>
            Через 12-20 часов бережной экстракции получается гидролат - натуральный тоник, содержащий все полезные
            водорастворимые вещества, включая эфирные масла.
          </p>
          <img class="main__gidrolat-img" src="/static/img/Gidrolats-main.jpg" alt="Гидролаты">
          <p class="main__about-gidrolat main__about-gidrolat--bottom">
            Видов гидролатов очень много, а информации о них - ещё больше.
            Этот тест создан, чтобы подобрать гидролат, который подойдёт именно вам. Его прохождение займёт не более
            пяти
            минут, а в конце вас ждёт приятный подарок.
          </p>
          <button class="main__start-test-buttom">
            Подобрать гидролат
          </button>
        </div>
      </section>
      <button class="question__button-back arrow-button" style="display: none;">
        <svg class="arrow-button__svg" width="33" height="33" viewBox="0 0 33 33" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <circle class="arrow-button__background arrow-button-transition" cx="16.5" cy="16.5" r="16" fill="#FDFAF5"
            stroke="#983724" />
          <path class="arrow-button__arrow arrow-button-transition" d="M9 16H25" stroke="#983724" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" />
          <path class="arrow-button__arrow arrow-button-transition" d="M18 9L25 16L18 23" stroke="#983724"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <section class="final-page" style="display:none;">
        <div class="container">
          <h1 class="final__heading">
            Спасибо, что прошли наш тест!
          </h1>
          <p class="final__text-bonus">
            В конце страницы вас ждёт бонус.
          </p>
          <h3 class="final__heading-gidrolats">
            Вам подходит:
          </h3>
          <div class="gidrolat-wrapper swiper-container">
            <button class="gidrolat__next-button arrow-button gidrolat__next-button--left">
              <svg class="arrow-button__svg" width="33" height="33" viewBox="0 0 33 33" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="arrow-button__background arrow-button-transition" cx="16.5" cy="16.5" r="16"
                  fill="#FDFAF5" stroke="#983724" />
                <path class="arrow-button__arrow arrow-button-transition" d="M9 16H25" stroke="#983724" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path class="arrow-button__arrow arrow-button-transition" d="M18 9L25 16L18 23" stroke="#983724"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
            <button class="gidrolat__next-button arrow-button gidrolat__next-button--right">
              <svg class="arrow-button__svg" width="33" height="33" viewBox="0 0 33 33" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <circle class="arrow-button__background arrow-button-transition" cx="16.5" cy="16.5" r="16"
                  fill="#FDFAF5" stroke="#983724" />
                <path class="arrow-button__arrow arrow-button-transition" d="M9 16H25" stroke="#983724" stroke-width="2"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path class="arrow-button__arrow arrow-button-transition" d="M18 9L25 16L18 23" stroke="#983724"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </button>
          </div>
          <div class="final__bottom-text">
            <p class="final__present-text">
              Мы подготовили для вас подарок!
            </p>
            <p class="final__form-description">
              Он придёт к вам на электронную почту, как только вы заполните форму:
            </p>
          </div>
          <form action="" class="feedback-form">
            <div class="feedback-form__input-container">
              <input class="feedback-form__input feedback-form__input--name" placeholder="Имя" type="text" name="name">
              <input class="feedback-form__input feedback-form__input--email" placeholder="E-mail" type="email"
                name="email">
            </div>
            <div class="feedback-form__checkbox-container">
              <input class="feedback-form__checkbox" type="checkbox" id="check">
              <label class="feedback-form__check-label" for="check">Согласен на обработку данных</label>
            </div>
            <button class="feedback-form__submit" type="submit">Отправить</button>
          </form>
        </div>
      </section>
    </main>
  </div>
</body>

</html>
